<div
	class="containerCard">
	<!-- Card 1 -->
	<div class="box">
		<div class="top">
			<img src="https://cdn.pixabay.com/photo/2017/06/16/15/58/luxury-home-2409518_640.jpg" alt=""/>
			<span>
				<i class="fa-regular fa-heart"></i>
			</span>
		</div>
		<div class="bottom">
			<h3>Villa In Sassenage</h3>
			<p>
				Enchanting three bedrooms, three bath home with spacious one bedroom
			</p>
			<div class="advants">
				<div>
					<span>Bedrooms</span>
					<div>
						<i class="fa-solid fa-bed"></i>
						<span>3</span>
					</div>
				</div>
				<div>
					<span>Floor N°</span>
					<div>
						<i class="fas fa-layer-group"></i>
						<span>3</span>
					</div>
				</div>
				<div>
					<span>Area</span>
					<div>
						<i class="fa fa-vector-square"></i>
						<span>4300<span>m²

							</span>
						</span>
					</div>
				</div>
			</div>
			<div class="price">
				<span>For Sale</span>
				<span>540,000€</span>
			</div>
		</div>
	</div>


	<!-- Card 2 -->
	<div class="box">
		<div class="top">
			<img src="https://cdn.pixabay.com/photo/2021/11/08/00/30/living-room-6778197_1280.jpg" alt=""/>
			<span>
				<i class="fa-regular fa-heart"></i>
			</span>
		</div>
		<div class="bottom">
			<h3>Appartement in Grenoble</h3>
			<p>
				Enjoy serenity of Deering Bay whole day from this spectacular North
			</p>
			<div class="advants">
				<div>
					<span>Bedrooms</span>
					<div>
						<i class="fas fa-th-large"></i>
						<span>3</span>
					</div>
				</div>
				<div>
					<span>Floor N°</span>
					<div>
						<i class="fas fa-layer-group"></i>
						<span>2</span>
					</div>
				</div>
				<div>
					<span>Area</span>
					<div>
						<i class="fas fa-vector-square"></i>
						<span>3500<span>m²</span>
						</span>
					</div>
				</div>
			</div>
			<div class="price">
				<span>For Sale</span>
				<span>825,000€</span>
			</div>
		</div>
	</div>


	<!-- Card 3 -->
	<div class="box">
		<div class="top">
			<img src="https://cdn.pixabay.com/photo/2016/11/18/17/46/house-1836070__340.jpg" alt=""/>
			<span>
				<i class="fa-regular fa-heart"></i>
			</span>
		</div>
		<div class="bottom">
			<h3>House in Saint Martin d'Hères</h3>
			<p>
				The very best waterfront location in Tahrir square and beside many cool places
			</p>
			<div class="advants">
				<div>
					<span>Bedrooms</span>
					<div>
						<i class="fa-solid fa-bed"></i>
						<span>3</span>
					</div>
				</div>
				<div>
					<span>Floor N°</span>
					<div>
						<i class="fas fa-layer-group"></i>
						<span>2</span>
					</div>
				</div>
				<div>
					<span>Area</span>
					<div>
						<i class="fas fa-vector-square"></i>
						<span>1800<span>m²</span>
						</span>
					</div>
				</div>
			</div>
			<div class="price">
				<span>For Rent</span>
				<span>410,000€</span>
			</div>
		</div>
	</div>
</div>
