{% extends 'base.html.twig' %}

{% block body %}

	{% block stylesheets %}
		{{ parent ()}}
		<link rel="stylesheet" href="assets/css/_navbar.css"/>
		<link rel="stylesheet" href="assets/css/_footer.css"/>
		<link rel="stylesheet" href="assets/css/_cards.css"/>
		<link rel="stylesheet" href="assets/css/homePage.css"/>
		<link rel="stylesheet" href="assets/css/_propertiesGrid.css"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
	{% endblock %}

	{% block javascripts %}
		<script src="{{ asset ("assets/js/agencyManagementPannel.js")}}" defer></script>
		<script src="{{ asset ("assets/js/navbar.js")}}" defer></script>
		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
		<script src="{{ asset ("assets/js/cardPropertySwiper.js")}}"></script>
	{% endblock %}

	<!-- main container -->
	<div
		class="justify-content-between">

		<!-- include the navbar -->
		{% include '_partials/_navbar.html.twig' %}

		<!-- Hero container -->

		<div class="hero-image">
			<div class=" hero-container d-flex-column text-center">
				<h1 class="hero-title">Buy & rent your property now !
				</h1>
				<p class="hero-text">Need a best favorite place with family right now ?Here's the best selection for you !
				</p>
			</div>
		</div>

		<div class="bodyContainer">

			<div
				class="">


				{# {% include '_partials/_cards.html.twig' %} #}


				{% include '_partials/_propertiesGrid.html.twig' %}


			</div>


		</div>
		<div>
			<!-- include the footer -->
			{% include '_partials/_footer.html.twig' %}
		</div>
	</div>
{% endblock %}
