<h1>Hi</h1>

<p>We've received a request to reset your password.</p>
<p>
	if you didn't make the request, just ignore this message.Otherwise, you can reset your password.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Reset your password</a>
{# {{ url('app_reset_password', {token: resetToken.token}) }} #}
<p>Please note that the link will expire in
	{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Best regards</p>
<p>
	Serenity Estate Agency Team</p>
