{% extends "base.html.twig" %}


{% block body %}
	{% for propAd in propertyAd %}
		<div>{{propAd.id}}</div>
		<div>{{propAd.property}}</div>
		<div>{{propAd.title}}</div>
		<div>{{propAd.isActive}}</div>
	{% endfor %}
{% endblock %}
