{% autoescape false %}
	{# Disable autoescaping to allow HTML in the email #}
	<!DOCTYPE html>
	<html>
		<head>
			<!-- Add your email styling here if needed -->
		</head>
		<body>
			<h4>Hello Mr - Mrs
				{{ userFullName }}
			</h4>

			<p>you can use the email below to access to the serenity estate plateforme, you have to change your password from the first access
			</p>

			<h5>Your access Email :
				{{userEmail}}</h5>

			<a href="{{ resetUrl }}">{{ resetUrl }}</a>

			<p>If you did not make this request, you can safely ignore this email.</p>
		</body>
	</html>
{% endautoescape %}
